* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

/* Slider styles */
.jq_slider_images_wrapper {
    overflow: hidden;
}

.jq_slider_images {
    font-size: 0;
    transition: all 0.3s linear 0s;
}

.jq_slider_images li {
    display: inline-block;
}

.jq_slider_images img {
    vertical-align: middle;
}

.jq_slider_navigation {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.jq_slider_navigation_prev,
.jq_slider_navigation_next {
    background-color: rgba(222, 222, 222, 0.8);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 85px;
    margin-top: -40px; /* TODO */
    opacity: 0.3;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    transition: all 0.2s linear 0s;
    width: 50px;
}

.jq_slider_navigation_prev:hover,
.jq_slider_navigation_next:hover {
    opacity: 0.6;
}

.jq_slider_navigation_prev {
    background-image: url('http://image.prntscr.com/image/775af55569b742b9bbf91de52ccb0a58.png');
    left: 5px;
}

.jq_slider_navigation_next {
    background-image: url('http://image.prntscr.com/image/44f71c995b184e388d745061f078d855.png');
    right: 5px;
}

.jq_slider_pagination {
    bottom: 8px;
    font-size: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.jq_slider_pagination li {
    display: inline-block;
    margin-top: 5px;
}

.jq_slider_pagination li+li {
    margin-left: 8px;
}

.jq_slider_pagination_dot {
    background: #000;
    border: 1px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    opacity: 0.5;
    text-indent: -9999px;
    transition: all 0.2s linear 0s;
    width: 12px;
}

.jq_slider_pagination_dot:hover {
    opacity: 0.8;
}

.jq_slider_pagination_dot.active {
    background: #AAA;
}
